---
import IconDisplay from "./vue/IconDisplay.vue";
---

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div class="text-white rounded w-12 h-12 flex items-center justify-center">
      <IconDisplay title="PHP" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div class="text-white rounded w-12 h-12 flex items-center justify-center">
      <IconDisplay title="JS" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div class="text-white rounded w-12 h-12 flex items-center justify-center">
      <IconDisplay title="TS" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-orange-300 text-white rounded-lg w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="HTML" />
    </div>
  </div>
</div>
<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-blue-300 text-white rounded-lg w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="CSS" />
    </div>
  </div>
</div>
<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-red-500 text-white rounded-lg w-12 h-12 flex items-center justify-center p-1"
    >
      <IconDisplay title="Laravel" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-blue-100 text-white rounded-lg p-1 w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="SQL" />
    </div>
  </div>
</div>
<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-emerald-200 text-white rounded-lg p-1 w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="Vue" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-zinc-700 text-white rounded w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="Astro" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-emerald-200 text-white rounded w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="Nuxt" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div class="text-white rounded w-12 h-12 flex items-center justify-center">
      <IconDisplay title="Wordpress" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-orange-200 text-white rounded w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="Git" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-orange-200 text-white rounded w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="Linux" />
    </div>
  </div>
</div>

<div class="text-center">
  <div class="grid place-content-center rounded-lg bg-light p-3 dark:bg-dark-2">
    <div
      class="bg-sky-500 text-white rounded p-1 w-12 h-12 flex items-center justify-center"
    >
      <IconDisplay title="Docker" />
    </div>
  </div>
</div>

<style></style>
