---

---

<div class="mt-10 lg:mt-14">
  <h3 class="text-2xl font-medium lg:text-3xl">Estudios</h3>

  <div class="mt-8 space-y-4">
    <div
      class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 bg-gray-100 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10"
    >
      <div
        class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6"
      >
        <div class="">
          <h5 class="font-medium xl:text-lg t">
            Análisis y Desarrollo de Software
          </h5>
          <p class="text-muted">2017 - 2020</p>
        </div>
      </div>

      <div class="flex items-center gap-1.5"></div>

      <div class="text-right">
        <div class="flex items-center gap-1.5">
          <svg
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            stroke-width="0.00512"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <polygon
                fill="currentColor"
                points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
              ></polygon>
              <path
                d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
              ></path>
            </g></svg
          >

          <h5 class="font-medium">
            Técnologo - <span class="text-muted dark:text-white/70 font-normal"
              >SENA</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div
      class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 bg-gray-100 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10"
    >
      <div
        class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6"
      >
        <div class="">
          <h5 class="font-medium xl:text-lg t">Técnico en Programación</h5>
          <p class="text-muted">2012 - 2015</p>
        </div>
      </div>

      <div class="flex items-center gap-1.5"></div>

      <div class="text-right">
        <div class="flex items-center gap-1.5">
          <svg
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            stroke-width="0.00512"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <polygon
                fill="currentColor"
                points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
              ></polygon>
              <path
                d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
              ></path>
            </g></svg
          >
          <h5 class="font-medium">
            Técnico - <span class="text-muted dark:text-white/70 font-normal"
              >INFOTEN</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div
      class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 bg-gray-100 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10"
    >
      <div
        class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6"
      >
        <div class="">
          <h5 class="font-medium xl:text-lg t">PHP con Laravel</h5>
          <p class="text-muted">2020 - 2020</p>
        </div>
      </div>

      <div class="flex items-center gap-1.5"></div>

      <div class="text-right">
        <div class="flex items-center gap-1.5">
          <svg
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            stroke-width="0.00512"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <polygon
                fill="currentColor"
                points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
              ></polygon>
              <path
                d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
              ></path>
            </g></svg
          >
          <h5 class="font-medium">
            Técnico - <span class="text-muted dark:text-white/70 font-normal"
              >Platzi</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div
      class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 bg-gray-100 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10"
    >
      <div
        class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6"
      >
        <div class="">
          <h5 class="font-medium xl:text-lg t">Eloquent avanzado</h5>
          <p class="text-muted">2020 - 2020</p>
        </div>
      </div>

      <div class="flex items-center gap-1.5"></div>

      <div class="text-right">
        <div class="flex items-center gap-1.5">
          <svg
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            stroke-width="0.00512"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <polygon
                fill="currentColor"
                points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
              ></polygon>
              <path
                d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
              ></path>
            </g></svg
          >
          <h5 class="font-medium">
            Curso - <span class="text-muted dark:text-white/70 font-normal"
              >Platzi</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div
      class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 bg-gray-100 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10"
    >
      <div
        class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6"
      >
        <div class="">
          <h5 class="font-medium xl:text-lg t">Vue js 2 y 3</h5>
          <p class="text-muted">2021 - 2021</p>
        </div>
      </div>

      <div class="flex items-center gap-1.5"></div>

      <div class="text-right">
        <div class="flex items-center gap-1.5">
          <svg
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            stroke-width="0.00512"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <polygon
                fill="currentColor"
                points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
              ></polygon>
              <path
                d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
              ></path>
            </g></svg
          >
          <h5 class="font-medium">
            Curso - <span class="text-muted dark:text-white/70 font-normal"
              >Platzi</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div
      class="group relative grid grid-cols-1 items-center gap-4 rounded-lg border border-transparent bg-light p-6 transition hover:border-light hover:bg-white dark:bg-dark-2 bg-gray-100 dark:hover:border-primary dark:hover:bg-black md:grid-cols-4 xl:gap-10"
    >
      <div
        class="flex flex-col gap-4 md:col-span-2 md:flex-row md:items-center md:gap-6"
      >
        <div class="">
          <h5 class="font-medium xl:text-lg t">Angular de cero a experto</h5>
          <p class="text-muted">2022 - 2022</p>
        </div>
      </div>

      <div class="flex items-center gap-1.5"></div>

      <div class="text-right">
        <div class="flex items-center gap-1.5">
          <svg
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            stroke-width="0.00512"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <polygon
                fill="currentColor"
                points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
              ></polygon>
              <path
                d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
              ></path>
            </g></svg
          >
          <h5 class="font-medium">
            Curso - <span class="text-muted dark:text-white/70 font-normal"
              >Udemy</span
            >
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
