---
import { Image } from "astro:assets";
---

<div class="relative max-h-[200px] overflow-hidden pb-6 pt-4">
  <div class="scroll-container">
    <!-- Primera parte del contenido -->
    <div class="scroll-content">
      <!-- Aquí agregamos las entradas duplicadas para una animación continua -->
      <div class="content">
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2022 - {new Date().getFullYear()}
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://mejoraysoluciones.com/images/logo.png"
                alt="logo de Mejora y Soluciones"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="font-semibold text-base text-dark dark:text-white">
                Mejora & Soluciones
              </h6>
              <p class="text-sm text-muted">Desarrollador Full Stack</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2020 - 2022
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://landing-bt.bodytech.co/wp-content/uploads/2022/10/cropped-logo_bodytech_negro-scaled-2.jpg"
                alt="Logo de Bodytech"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="font-semibold text-base text-dark dark:text-white">
                Bodytech
              </h6>
              <p class="text-sm text-muted">Desarrollador Backend</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2019 - 2021
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk-Hb6Jq6UePkxexryY9r8IhQFTmjJQAS1hQ&s"
                alt="Logo de Mega Tiendas"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="font-semibold text-base text-dark dark:text-white">
                Mega Tiendas
              </h6>
              <p class="text-sm text-muted">Desarrollador Backend</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2018 - 2022
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://agenciasaulotorres.com/wp-content/uploads/2020/11/Logo-Saulo-torres-Marketing-business_negro.png"
                alt="Logo de Saulo Torres"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="font-semibold text-base text-dark dark:text-white">
                Saulo Torres
              </h6>
              <p class="text-sm text-muted">Desarrollador Full Stack</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repetimos el contenido para una animación continua -->
      <div class="content">
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2022 - {new Date().getFullYear()}
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://mejoraysoluciones.com/images/logo.png"
                alt="logo de Mejora y Soluciones"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="font-semibold text-base text-dark dark:text-white">
                Mejora & Soluciones
              </h6>
              <p class="text-sm text-muted">Desarrollador Full Stack</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2020 - 2022
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://landing-bt.bodytech.co/wp-content/uploads/2022/10/cropped-logo_bodytech_negro-scaled-2.jpg"
                alt="Logo de Bodytech"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="font-semibold text-base text-dark dark:text-white">
                Bodytech
              </h6>
              <p class="text-sm text-muted">Desarrollador Backend</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2019 - 2021
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk-Hb6Jq6UePkxexryY9r8IhQFTmjJQAS1hQ&s"
                alt="Logo de Mega Tiendas"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="text-base font-semibold text-dark dark:text-white">
                Mega Tiendas
              </h6>
              <p class="text-sm text-muted">Desarrollador Backend</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1 md:flex-row md:gap-10">
          <p class="mt-1 text-sm font-medium text-muted dark:text-white">
            2018 - 2022
          </p>
          <div class="flex items-center gap-3">
            <div
              class="grid h-10 w-10 shrink-0 place-content-center rounded-lg bg-light dark:bg-white"
            >
              <Image
                loading="lazy"
                src="https://agenciasaulotorres.com/wp-content/uploads/2020/11/Logo-Saulo-torres-Marketing-business_negro.png"
                alt="Logo de Saulo Torres"
                class="h-auto w-10"
                width={40}
                height={40}
              />
            </div>
            <div>
              <h6 class="text-base font-semibold text-dark dark:text-white">
                Saulo Torres
              </h6>
              <p class="text-sm text-muted">Desarrollador Full Stack</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @keyframes scrollY {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .scroll-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .scroll-content {
    animation: scrollY 20s linear infinite;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content .flex {
    align-items: center;
  }
</style>
