---

---

<div
  class="rounded-2xl bg-white p-6 shadow dark:bg-black dark:shadow-cyan-200/5 lg:col-span-2"
>
  <div class="flex flex-wrap items-center justify-between gap-2">
    <h3 class="text-2xl font-semibold dark:text-light">Servicios</h3>
    <a
      href="https://wa.me/573117952897"
      target="_blank"
      class="inline-flex items-center justify-center gap-2 border-b text-center text-base text-primary transition hover:border-b-primary dark:border-b-muted dark:hover:border-b-primary"
    >
      <span>Contactame</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        class="h-5 w-5"
      >
        <path d="M17.5 11.667v-5h-5"></path>
        <path d="m17.5 6.667-7.5 7.5-7.5-7.5"></path>
      </svg>
    </a>
  </div>

  <div class="mt-6 grid grid-cols-2 gap-6 md:grid-cols-4">
    <div class="rounded-2xl bg-light p-2 text-center dark:bg-dark-2 md:p-4">
      <div
        class="grid place-content-center rounded-lg bg-white p-6 dark:bg-black"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-12 w-12"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M15.5 9L15.6716 9.17157C17.0049 10.5049 17.6716 11.1716 17.6716 12C17.6716 12.8284 17.0049 13.4951 15.6716 14.8284L15.5 15"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M13.2942 7.17041L12.0001 12L10.706 16.8297"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M8.49994 9L8.32837 9.17157C6.99504 10.5049 6.32837 11.1716 6.32837 12C6.32837 12.8284 6.99504 13.4951 8.32837 14.8284L8.49994 15"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
          </g>
        </svg>
      </div>
      <p class="mt-3 text-base font-medium text-dark dark:text-white">
        Desarrollo Web
      </p>
    </div>
    <div class="rounded-2xl bg-light p-2 text-center dark:bg-dark-2 md:p-4">
      <div
        class="grid place-content-center rounded-lg bg-white p-6 dark:bg-black"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-12 w-12"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M19 15C19 18.866 15.866 22 12 22C8.13401 22 5 18.866 5 15V9C5 5.13401 8.13401 2 12 2C15.866 2 19 5.13401 19 9V11"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M10.5 8.5C10.5 7.67157 11.1716 7 12 7C12.8284 7 13.5 7.67157 13.5 8.5V10.5C13.5 11.3284 12.8284 12 12 12C11.1716 12 10.5 11.3284 10.5 10.5V8.5Z"
              stroke="#1C274C"
              stroke-width="1.5"></path>
            <path
              d="M12 2V7"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
          </g>
        </svg>
      </div>
      <p class="mt-3 text-base font-medium text-dark dark:text-white">
        Desarrollo de Landing Pages
      </p>
    </div>
    <div class="rounded-2xl bg-light p-2 text-center dark:bg-dark-2 md:p-4">
      <div
        class="grid place-content-center rounded-lg bg-white p-6 dark:bg-black"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-12 w-12"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M12 15.1082V20.1498C12 21.2635 11.0955 22.1875 10.0128 21.9673C5.44193 21.0381 2 16.9659 2 12.0832C2 10.2294 2.49614 8.49247 3.36182 7M16.3641 21.1581C19.7003 19.5239 22 16.0743 22 12.0832C22 6.51441 17.5228 2 12 2C10.1786 2 8.47087 2.49102 7 3.34895"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M9 11.8C9 11.3582 9.35817 11 9.8 11H14.2C14.6418 11 15 11.3582 15 11.8V12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12V11.8Z"
              stroke="#1C274C"
              stroke-width="1.5"></path>
            <path
              d="M13.5 11V9"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M10.5 11V9"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
          </g>
        </svg>
      </div>
      <p class="mt-3 text-base font-medium text-dark dark:text-white">
        Integraciones de API
      </p>
    </div>
    <div class="rounded-2xl bg-light p-2 text-center dark:bg-dark-2 md:p-4">
      <div
        class="grid place-content-center rounded-lg bg-white p-6 dark:bg-black"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          class="h-12 w-12"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M4.97883 6.31492C2.99294 7.10927 2 7.50645 2 8C2 8.49355 2.99294 8.89073 4.97883 9.68508L7.7873 10.8085C9.77318 11.6028 10.7661 12 12 12C13.2339 12 14.2268 11.6028 16.2127 10.8085L19.0212 9.68508C21.0071 8.89073 22 8.49355 22 8C22 7.50645 21.0071 7.10927 19.0212 6.31492L16.2127 5.19153C14.2268 4.39718 13.2339 4 12 4C11.0461 4 10.2361 4.2374 9 4.71221"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M5.76613 10L4.97883 10.3149C2.99294 11.1093 2 11.5065 2 12C2 12.4935 2.99294 12.8907 4.97883 13.6851L7.7873 14.8085C9.77318 15.6028 10.7661 16 12 16C13.2339 16 14.2268 15.6028 16.2127 14.8085L19.0212 13.6851C21.0071 12.8907 22 12.4935 22 12C22 11.5065 21.0071 11.1093 19.0212 10.3149L18.2339 10"
              stroke="#1C274C"
              stroke-width="1.5"></path>
            <path
              d="M19.0212 17.6851C21.0071 16.8907 22 16.4935 22 16C22 15.5065 21.0071 15.1093 19.0212 14.3149L18.2339 14M5.76613 14L4.97883 14.3149C2.99294 15.1093 2 15.5065 2 16C2 16.4935 2.99294 16.8907 4.97883 17.6851L7.7873 18.8085C9.77318 19.6028 10.7661 20 12 20C12.9539 20 13.7639 19.7626 15 19.2878"
              stroke="#1C274C"
              stroke-width="1.5"
              stroke-linecap="round"></path>
          </g>
        </svg>
      </div>
      <p class="mt-3 text-base font-medium text-dark dark:text-white">
        Diseño de Bases de Datos
      </p>
    </div>
  </div>
</div>
